body{
    /*background-color: black;*/
    margin:0;
    padding:0;
    overflow: hidden;
}

.h1{
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
    text-shadow: 2.5px 2.5px orange;
    font-family:sans-serif;
    font-weight: bolder;
    
    
}
